node_modules/
npm-debug.log

.svelte-kit
build
dist

.env
.env.*
!.env.example

.git
.gitignore
.github

.vscode
.idea
*.md
!README.md
*.log
*.lockb

Dockerfile
docker-compose.yml
.dockerignore

.cache
.DS_Store
*.swp
*.swo
*.tmp
*.temp

coverage
__test__
tests
*.test.js
*.spec.js

uploads/*
