<!DOCTYPE html>

<html lang="en">
    <head>
        <title>🏗️ vocal</title>
        <%- include('./partials/head.ejs') %>
    </head>
    <body class="bg-dark text-white">
        <div class="container mb-3" style="max-width: 50rem;">
            <%- include('./partials/nav.ejs') %>
            <p class="mt-2 text-center">
                <i class="bi bi-stars text-warning"></i> This is a work in progress. If you notice any bugs or issues, report them to us!
            </p>

            <div class="mt-2"></div>

            <div class="input-group mb-3">
                <input
                    class="input-gradient-sm rounded-pill form-control text-white shadow-none"
                    style="background: rgb(25, 25, 25)"
                    id="postBox"
                    placeholder="what's up?"
                >

                <div class="input-group-append">
                    <button
                        class="input-group-text rounded-circle input-gradient-sm text-white ms-2"
                        id="basic-addon2"
                        style="background: rgb(25, 25, 25)"
                    >
                        <i class="bi bi-image-fill p-1"></i>
                    </button>
                </div>

                <div class="input-group-append">
                    <button
                        class="input-group-text rounded-circle input-gradient-sm text-white ms-2"
                        id="basic-addon2"
                        style="background: rgb(25, 25, 25)"
                    >
                        <i class="bi bi-send-fill p-1"></i>
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>