:root {
    --theme-purple: #B24592;
    --theme-red: #F15F79;
    --theme-gradient: linear-gradient(45deg, var(--theme-purple), var(--theme-red));
}

a {
    text-decoration: none;
}

.gradient-text {
    background-color: --theme-red;

    background-image: var(--theme-gradient);

    background-size: 100%;
    background-repeat: repeat;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0); 
    -moz-background-clip: text;
    -moz-text-fill-color: rgba(255, 255, 255, 0);

	animation: gradient 15s ease infinite;
}

.bi {
    vertical-align: middle;
    margin-left: 1px;
    margin-right: 1px;
}

.gradient-bg {
    background: var(--theme-gradient);
	animation: gradient 15s ease infinite;
}

.div-sm {
    border: 3px solid var(--theme-red);
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
}

.input-gradient-sm {
    border: 2px solid var(--theme-red);
}

.dropdown-toggle::after {
    display: none !important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}